<div class="container">
    <div class="ui top attached demo menu btn-menu">
        <a class="item">
            <i class="sidebar icon"></i>
            Menu
        </a>
    </div>
    <div class="ui bottom attached segment pushable">
        <div class="ui inverted labeled icon left inline vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item">
                <i class="block layout icon"></i>
                Topics
            </a>
            <a class="item">
                <i class="smile icon"></i>
                Friends
            </a>
            <a class="item">
                <i class="calendar icon"></i>
                History
            </a>
        </div>
        <div class="ui container">
            <div class="pusher">
                <!-- Fin du menu burger -->
                <div class="ui basic segment">
                    <h1 class="ui header">{{title| raw}} </h1>
                    <p></p>
                    <h5>changer le style de la liste</h3>
                        <p></p>
                        <div class="ui icon buttons">
                            <button class="ui button"><i class="bold icon"></i></button>
                            <button class="ui button"><i class="remove format icon"></i></button>
                            <button class="ui button"><i class="text width icon"></i></button>
                            <button class="ui button"><i class="text height icon"></i></button>
                        </div>

                        <div class="ui icon buttons">
                            <button class="ui button"><i class="list ul icon"></i></button>
                            <button class="ui button"><i class="list ol icon"></i></button>
                            <button class="ui button"><i class="circle outline icon"></i></button>
                            <button class="ui button"><i class="calendar alternate outline icon"></i></button>
                        </div>
                        <button class="ui primary button">
                            Save
                        </button>
                        <p></p>
                        <div class="ui action input">
                            <input type="text" placeholder="Add...">
                            <button class="ui icon button">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="liste">
                            {{list| raw}}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{script_foot|raw}}