<form action="/Users/addUsers" method="POST">
  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>First name</label>
        <input type="text" name="fname" placeholder="First name" />
      </div>
      <div class="field">
        <label>Middle name</label>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" name="email" placeholder="Email" />
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
    </div>
    <input type="submit" style="background-color: salmon; border-radius: 20%; border-color: salmon;"/>
  </div>
</form>
