.ui.vertical.menu{
    margin: 0 0 auto 0;
    height: 100vh;
    z-index: 1;
}
.ui.container.slate{
    box-shadow: 0px 0px 20px 5px rgba(214,214,214,1);
    height: 100vh;
    padding: 16px;
    overflow: auto;
}
.block{
    display: flex;
}
#progressBar{
    width: 100%;
    margin-bottom: 0;
}
table{
    max-height: 20vh!important;
    overflow: auto;
}